.file-upload-container {
    .attached__icon {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      position: absolute;
      display: flex;
      right: 10px;
      top: 40px;
    }
  }