 .stat-slider span {
    justify-content: center;
    align-items: center;
        margin: 0 1px;
      }
      
      .stat-slider ion-text {
        margin: 0 4px;
      }
  
 //responsive mobile 
    @media (max-width: 400px) {
        .stat-slider {
        width: 100%;
        }

    }
    
    //responsive tablet
    @media (max-width: 768px) {
        .stat-slider {
        width: 100%;
        }
    }
    
    //responsive desktop
    @media (min-width: 1024px) {
        .stat-slider {
        width: 100%;
        }
    }