.list-items{
    margin-top: 80px;
  }
  .justify-link{
    background-color: transparent;
  }
 //responsive mobile 
 @media (max-width: 400px) {
    .list-item{
    width: 100%;
    }
    
}

//responsive tablet
@media (max-width: 768px) {
    .stat-slider {
    width: 100%;
    }
}

//responsive desktop
@media (min-width: 1024px) {
    .stat-slider {
    width: 100%;
    }
}
