
.list-items{
    margin-top: 80px;
    font-weight: 800;
    scrollbar-width: thin;
  
    h2{
        color: #3D3D3D;
        font-weight: 500;
        font-family: var(--font-medium);
    }
    p{
        color: #3D3D3D;
        font-family: var(--font-medium);
    }
    .absence_date{
        color:#23B2A4;
    }
   .absence_duration{
    color:#3D3D3D ;
    font-family: var(--font-bold);
   }
}
.tooltip{
    border-radius: 25px;
    height: 93px;
    width: 393px;
    background-color: #F0A5A5;

    font-family: var(--font-bold);
    //place center at center
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   position: fixed;
   display: flex;
   align-items: center;
    justify-content: center;
    flex-direction: column;
   
    .course{
        color:#23B2A4;
        
    }
    .retardsummary{
        color:#3D3D3D;
    }
}


  .btn_scanQR{
    position: fixed;
    bottom:120px;
     left: 50%;
     transform: translateX(-50%);
     z-index: 10;
    display: flex;
    height: 50px;
    width: 220px;
    max-width: 400px;
    padding: 3px 7px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #6DCEC9;
    border-radius: 30px;
    font-weight: bold;
    color: #333;
    font-family: var(--font-medium);
 
  }
  .btn_scanQR:hover{
    cursor: pointer;
    background-color: #23B2A4;
}
  
 //responsive mobile 
 @media (max-width: 400px) {
    .list-item{
    width: 100%;
    }
    .tooltip{
        height: 15%;
        width: 85%;
    }
    
}

//responsive tablet
@media (max-width: 768px) {
    .stat-slider {
    width: 100%;
    }
}

//responsive desktop
@media (min-width: 1024px) {
    .stat-slider {
    width: 100%;
    }
}

