/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

/* fonts themes */
:root {
    --font-regular: 'Montserrat-Regular', sans-serif;
    --font-medium: 'Montserrat-Medium', sans-serif;
    --font-semibold: 'Montserrat-SemiBold', sans-serif;
    --font-bold: 'Montserrat-Bold', sans-serif;
  }
  *{
    font-family: var(--font-semibold) ;
  }
  .danger {
    font-family: var(--font-bold) !important;
    color: #ff0000;
  }
  .course{
    color:#23B2A4;
    font-family: var(--font-bold) !important;
   
}