.Preview {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #000;
    overflow: scroll;
  }
  
  .PreviewContent {
    font-size: 14px;
    color: #000;
  }
  
  .PreviewSignature img {
    max-width: 100%;
    height: auto;
    color: #000;
  }