.camera-container {
    
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scanner-active {
  width: 320px;
  height: 320px;
  overflow: hidden;
}

.scanner-active video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}